---
import type { InputProps } from './input'
import ConditionalWrapper from '@components/ConditionalWrapper/ConditionalWrapper.astro'

import './input.scss'

interface Props extends InputProps {}

const {
    type = 'text',
    theme,
    label,
    subText,
    fill,
    className,
    ...rest
} = Astro.props

const classes = [
    'w-input',
    theme,
    fill && 'fill',
    className
]

const useLabel = !!(label || subText || Astro.slots.has('icon'))
---

<ConditionalWrapper condition={useLabel}>
    <label slot="wrapper" class="w-input-label">
        {label && (
            <div class="label">{label}</div>
        )}
        <ConditionalWrapper condition={Astro.slots.has('icon')}>
            <div class="input-wrapper" slot="wrapper">
                children
            </div>
            <slot name="icon" />
            children
        </ConditionalWrapper>
        {subText && (
            <div class="subtext">
                <Fragment set:html={subText} />
            </div>
        )}
    </label>
    <input
        type={type}
        class:list={classes}
        {...rest}
    />
</ConditionalWrapper>
