---
import type { TabsProps } from './tabs'

import styles from './tabs.module.scss'

export type Props = TabsProps

const {
    items,
    theme,
    vertical,
    even,
    className
} = Astro.props

const classes = [
    styles.tabs,
    theme && styles[theme],
    vertical && styles.vertical,
    even && styles.even,
    className
]

const hasActive = items.some(item => item.active)

if (!hasActive) {
    items[0].active = true
}
---

<section class:list={classes} data-id="w-tabs">
    <div class={styles.wrapper}>
        <div class={styles.items}>
            {items.map(item => (
                <button
                    data-value={item.value}
                    data-active={item.active ? 'true' : null}
                    disabled={item.disabled}
                >
                    <Fragment set:html={item.label} />
                </button>
            ))}
        </div>
    </div>
    <div
        class={styles.content}
        data-id="w-tabs-content"
        data-active-index={items.findIndex(item => item.active)}
    >
        <slot />
    </div>
</section>

<script>
    import { get, on } from '../../utils/DOMUtils'

    const setActiveTab = () => {
        const tabContents = get('[data-id="w-tabs-content"]', true) as NodeListOf<HTMLDivElement>

        tabContents.forEach((tabContent) => {
            const contentChildren = Array.from(tabContent.children) as HTMLElement[]

            if (!contentChildren.some(element => element.dataset.active === 'true')) {
                const index = Number(tabContent.dataset.activeIndex)

                if (contentChildren[index]) {
                    contentChildren[index].dataset.active = 'true'
                }
            }
        })
    }

    const addEventListeners = () => {
        on('[data-id="w-tabs"]', 'click', (event: Event) => {
            const target = event.target as HTMLButtonElement

            if (!target.dataset.value) {
                return
            }

            const tabContent = target.parentElement
                ?.parentElement
                ?.nextElementSibling as HTMLDivElement

            const btns = Array.from(target.parentElement?.querySelectorAll('button') as NodeListOf<HTMLButtonElement>)
            const clickedIndex = btns.indexOf(target)
            const contentChildren = Array.from(tabContent.children) as HTMLElement[]
            const hasExplicitTabs = contentChildren.some((element: HTMLElement) => element.dataset.tab)

            btns.forEach((tab: HTMLElement, index: number) => {
                tab.dataset.active = index === clickedIndex ? 'true' : 'false'

                if (contentChildren[index]) {
                    const content = contentChildren[index]

                    if (hasExplicitTabs) {
                        content.dataset.active = content.dataset.tab === target.dataset.value ? 'true' : 'false'
                    } else {
                        content.dataset.active = index === clickedIndex ? 'true' : 'false'
                    }
                }
            })
        }, true)
    }

    const initTabs = () => {
        setActiveTab()
        addEventListeners()
    }

    on(document, 'astro:after-swap', initTabs)
    initTabs()
</script>
