---
import Layout from '@static/Layout.astro'

import BlogCard from '@blocks/BlogCard/BlogCard.astro'

const templates = [
    { name: 'Authentication', url: 'authentication' },
    { name: 'Product Page', url: 'product-page' },
    { name: 'Portfolio', url: 'portfolio' },
    { name: 'Blog', url: 'blog' }
]
---

<Layout>
    <h1 class="reset">Templates</h1>

    {['Astro', 'Svelte', 'React'].map(framework => (
        <Fragment>
            {framework !== 'Astro' && (
                <h2 class:list={['reset', framework.charAt(0).toLowerCase()]}>{framework}</h2>
            )}
        </Fragment>
        <div class="grid md-2 lg-3">
            {templates.map(template => (
                <Fragment>
                    <BlogCard
                        href={`templates/${template.url}/${framework.toLowerCase()}`}
                        title={template.name}
                        img={{
                            src: `/img/templates/${template.url}.png`,
                            alt: framework,
                            width: 200,
                            height: 200
                        }}
                    />
                </Fragment>
            ))}
        </div>
    ))}
</Layout>
