---
import type { SwitchProps } from './switch'

import { classNames } from '../../utils/classNames'

import styles from './switch.module.scss'

interface Props extends SwitchProps {}

const {
    label,
    toggled,
    offColor,
    onColor,
    reverse,
    small,
    square,
    disabled,
    className
} = Astro.props

const classes = [
    styles.switch,
    reverse && styles.reverse,
    small && styles.small,
    square && styles.square,
    disabled && styles.disabled,
    className
]

const styleVariables = classNames([
    offColor && `--w-switch-off-color: ${offColor};`,
    onColor && `--w-switch-on-color: ${onColor};`
])
---

<label class:list={classes} style={styleVariables}>
    <input type="checkbox" checked={toggled} disabled={disabled} />
    <span class={styles.toggle}></span>
    {label && <span class={styles.label}>{label}</span>}
</label>
