---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import AstroAccordion from '@components/Accordion/Accordion.astro'
import SvelteAccordion from '@components/Accordion/Accordion.svelte'
import ReactAccordion from '@components/Accordion/Accordion.tsx'

import { getSections } from '@helpers'
import { accordionItems } from '@data'

const alternatingAccordionItems = [
    accordionItems[0],
    {
        ...accordionItems[1],
        reverse: true
    },
    accordionItems[2]
]

const sections = getSections({
    title: 'accordions',
    components: [AstroAccordion, SvelteAccordion, ReactAccordion],
    showSubTitle: true
})
---

<Layout>
    <h1>Accordion</h1>

    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroAccordion items={accordionItems} />
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteAccordion items={accordionItems} client:load />
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactAccordion items={accordionItems} client:load />
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Default">
                <section.component items={accordionItems} />
            </ComponentWrapper>

            <ComponentWrapper title="Plus icon">
                <section.component
                    items={accordionItems}
                    icon="plus"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Without icon">
                <section.component
                    items={accordionItems}
                    icon="none"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Reverse layout">
                <section.component
                    items={accordionItems}
                    reverse={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Alternating layout">
                <section.component
                    items={alternatingAccordionItems}
                />
            </ComponentWrapper>
        </div>
    ))}
</Layout>
