---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import AstroBadge from '@components/Badge/Badge.astro'
import SvelteBadge from '@components/Badge/Badge.svelte'
import ReactBadge from '@components/Badge/Badge.tsx'
import Icon from '@components/Icon/Icon.astro'

import { getSections } from '@helpers'

const sections = getSections({
    title: 'badges',
    components: [AstroBadge, SvelteBadge, ReactBadge],
    showSubTitle: true
})
---

<Layout docs="/docs/badge">
    <h1>Badge</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroBadge>Badge in Astro</AstroBadge>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteBadge theme="alert">
                Badge in Svelte
            </SvelteBadge>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactBadge theme="info">
                Badge in React
            </ReactBadge>
        </ComponentWrapper>
    </div>

    {sections.map((section: any) => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Primary">
                <section.component hover={true}>
                    Primary
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Secondary">
                <section.component theme="secondary" hover={true}>
                    Secondary
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Outline">
                <section.component theme="outline" hover={true}>
                    Outline
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Flat">
                <section.component theme="flat" hover={true}>
                    Flat
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="With Icon">
                <section.component theme="secondary" hover={true}>
                    <Icon type="github" size={14} />
                    With Icon
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Info">
                <section.component theme="info" hover={true}>
                    Info
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Success">
                <section.component theme="success" hover={true}>
                    Success
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Warning">
                <section.component theme="warning" hover={true}>
                    Warning
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Alert">
                <section.component theme="alert" hover={true}>
                    Alert
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Small success">
                <section.component theme="success" small={true}>
                    Success
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Small warning">
                <section.component theme="warning" small={true}>
                    Warning
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Small alert">
                <section.component theme="alert" small={true}>
                    Alert
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Rounded success">
                <section.component theme="success" rounded={true}>
                    Success
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Rounded warning">
                <section.component theme="warning" rounded={true}>
                    Warning
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Rounded alert">
                <section.component theme="alert" rounded={true}>
                    Alert
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Chips (removable badge)">
                <section.component
                    theme="outline"
                    hover={true}
                    rounded={true}
                    className="remove"
                >
                    <Icon type="circle-close" size={14} />
                    Click to remove
                </section.component>
            </ComponentWrapper>
        </div>
    ))}
</Layout>

<script>
    import { on } from '@utils/DOMUtils'

    on('.remove', 'click', (event: any) => event.currentTarget.remove())
</script>
