---
import Box from '@static/Box.astro'
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import Alert from '@components/Alert/Alert.astro'
import Button from '@components/Button/Button.astro'
import AstroCarousel from '@components/Carousel/Carousel.astro'
import SvelteCarousel from '@components/Carousel/Carousel.svelte'
import ReactCarousel from '@components/Carousel/Carousel.tsx'
import Image from '@components/Image/Image.astro'

import { getSections } from '@helpers'

const sections = getSections({
    title: 'carousels',
    components: [AstroCarousel, SvelteCarousel, ReactCarousel],
    showSubTitle: true
})
---

<Layout docs="/docs/carousel">
    <h1>Carousel</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroCarousel
                items={3}
                subText="Slide {0} of {1}"
                progress={true}
                pagination={{ type: 'dots' }}
                effect="opacity"
            >
                <li data-active="true"><Box fullWidth={true}>1</Box></li>
                <li><Box fullWidth={true}>2</Box></li>
                <li><Box fullWidth={true}>3</Box></li>
            </AstroCarousel>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteCarousel
                client:idle
                items={3}
                subText="Slide {0} of {1}"
                progress={true}
                pagination={{ type: 'dots' }}
                effect="opacity"
            >
                <li data-active="true"><Box fullWidth={true}>1</Box></li>
                <li><Box fullWidth={true}>2</Box></li>
                <li><Box fullWidth={true}>3</Box></li>
            </SvelteCarousel>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactCarousel
                client:idle
                items={3}
                subText="Slide {0} of {1}"
                progress={true}
                pagination={{ type: 'dots' }}
                effect="opacity"
            >
                <li data-active="true"><Box fullWidth={true}>1</Box></li>
                <li><Box fullWidth={true}>2</Box></li>
                <li><Box fullWidth={true}>3</Box></li>
            </ReactCarousel>
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Default">
                <section.component items={3}>
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Carousel with dynamic text">
                <section.component items={3} subText="Slide {0} of {1}">
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Scroll snap disabled (mobile only)">
                <section.component items={3} scrollSnap={false}>
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Carousel with progress">
                <section.component
                    items={3}
                    subText="Slide {0} of {1}"
                    progress={true}
                >
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Dots pagination">
                <section.component
                    items={3}
                    subText="Slide {0} of {1}"
                    progress={true}
                    pagination={{ type: 'dots' }}
                >
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Custom pagination">
                <section.component
                    items={3}
                    subText="Slide {0} of {1}"
                    progress={true}
                    pagination={{
                        type: null,
                        pages: [
                            { label: 1, active: true },
                            { label: 2 },
                            { label: 3 }
                        ]
                    }}
                >
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="With opacity transition">
                <section.component
                    items={3}
                    subText="Slide {0} of {1}"
                    progress={true}
                    effect="opacity"
                >
                    <li data-active="true"><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Saturate transition with images">
                <section.component
                    items={3}
                    subText="Slide {0} of {1}"
                    progress={true}
                    effect="saturate"
                    debounce={0}
                    pagination={{ type: 'dots' }}
                >
                    <li data-active="true" class="img-li">
                        <Image src="../img/placeholder1.png" alt="" width="300" height="150" />
                        <span>Astro</span>
                    </li>
                    <li class="img-li">
                        <Image src="../img/placeholder2.png" alt="" width="300" height="150" />
                        <span>Svelte</span>
                    </li>
                    <li class="img-li">
                        <Image src="../img/placeholder3.png" alt="" width="300" height="150" />
                        <span>React</span>
                    </li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="With components">
                <section.component
                    items={3}
                    subText="Step {0} of {1}"
                    progress={true}
                >
                    <li>
                        <Alert theme="success" className="alert" title="Note">
                            You can put any component inside a carousel to create various elements.
                        </Alert>
                    </li>
                    <li>
                        <Alert theme="info" className="alert" title="Info">
                            Make sure to set the element's width to <code>100%</code> to properly display each slide across all devices.
                        </Alert>
                    </li>
                    <li>
                        <Alert className="alert">
                            <div>
                                Combine multiple components to create interactive slides.
                            </div>
                            <Button className="go-back">Go back</Button>
                        </Alert>

                    </li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Multiple items per slide (2)">
                <section.component items={6} itemsPerSlide={2}>
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                    <li><Box fullWidth={true}>4</Box></li>
                    <li><Box fullWidth={true}>5</Box></li>
                    <li><Box fullWidth={true}>6</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Multiple items per slide (3)">
                <section.component
                    items={6}
                    itemsPerSlide={{
                        default: 3,
                        xs: 1,
                        sm: 2,
                        md: 3,
                        lg: 3
                    }}
                >
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                    <li><Box fullWidth={true}>4</Box></li>
                    <li><Box fullWidth={true}>5</Box></li>
                    <li><Box fullWidth={true}>6</Box></li>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Multiple items per slide with progress">
                <section.component
                    progress={true}
                    pagination={{ type: 'dots' }}
                    subText="Slide {0} of {1}"
                    items={6}
                    itemsPerSlide={{
                        default: 3,
                        xs: 1,
                        sm: 2,
                        md: 3,
                        lg: 3
                    }}
                >
                    <li><Box fullWidth={true}>1</Box></li>
                    <li><Box fullWidth={true}>2</Box></li>
                    <li><Box fullWidth={true}>3</Box></li>
                    <li><Box fullWidth={true}>4</Box></li>
                    <li><Box fullWidth={true}>5</Box></li>
                    <li><Box fullWidth={true}>6</Box></li>
                </section.component>
            </ComponentWrapper>
        </div>
    ))}
</Layout>

<style lang="scss">
    @use '../../scss/config.scss' as *;

    img {
        @include size('w100%', h150px);
    }

    .img-li {
        @include position(relative);
        @include visibility(hidden);

        &[data-active] span {
            transform: translateY(0);
        }

        span {
            @include transition();
            @include position(absolute, b0, l0);
            @include size('w100%');
            @include spacing(py-xxs, px-sm);

            transform: translateY(100%);
            background: #000000c4;
        }
    }

    .alert {
        @include size('w100%');
    }

    .go-back {
        @include spacing(mt-sm);
    }
</style>

<script>
    import { on } from '@utils/DOMUtils'

    on(document, 'astro:page-load', () => {
        on('.go-back', 'click', (event: Event) => {
            const firstSlide = (event.currentTarget as HTMLButtonElement)
                ?.closest('[data-id="w-carousel"]')
                ?.children[0].children[0]

            firstSlide?.scrollIntoView({ behavior: 'smooth', block: 'nearest' })
        })
    })
</script>
