---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import Button from '@components/Button/Button.astro'
import List from '@components/List/List.astro'
import AstroPopover from '@components/Popover/Popover.astro'
import SveltePopover from '@components/Popover/Popover.svelte'
import ReactPopover from '@components/Popover/Popover.tsx'

import User from '@blocks/User/User.astro'

import { getSections } from '@helpers'
import { listWithGroups } from '@data'

const sections = getSections({
    title: 'popovers',
    components: [AstroPopover, SveltePopover, ReactPopover]
})
---

<Layout docs="/docs/popover">
    <h1>Popover</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <Button theme="secondary" id="popover-btn-astro">
                Open Astro Popover
            </Button>

            <AstroPopover id="popover-astro">
                <span class="a">This is a popover created with an <strong>Astro</strong> component.</span>
            </AstroPopover>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <Button theme="alert" id="popover-btn-svelte">Open Svelte Popover</Button>
            <SveltePopover id="popover-svelte">
                <span class="s">This is a popover created with a <strong>Svelte</strong> component.</span>
            </SveltePopover>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <Button theme="info" id="popover-btn-react">Open React Popover</Button>
            <ReactPopover id="popover-react">
                <span class="r">This is a popover created with a <strong>React</strong> component. If you need to add interactive elements inside the popover in React, set the <code>isInteractive</code> prop to <code>true</code>.</span>
            </ReactPopover>
        </ComponentWrapper>
    </div>

    {sections.map((section, index) => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Default">
                <Button theme="secondary" id={`popover-btn-0${index}`}>
                    Open Popover
                </Button>
                <section.component id={`popover-0${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover with components">
                <Button theme="secondary" id={`popover-btn-1${index}`}>
                    Open Popover
                </Button>
                <section.component id={`popover-1${index}`}>
                    <User
                        avatar="../img/avatar0.png"
                        name="Marcus"
                        role="Top rated seller"
                        roleTooltip="In Art & Collectibles"
                        rating={4.8}
                        showText={true}
                    />
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Remove popover instance">
                <Button theme="secondary" id={`popover-btn-2${index}`} data-no-close="true">
                    Open Popover
                </Button>
                <section.component id={`popover-2${index}`}>
                    <p>
                        This popover cannot be closed by clicking outside.
                        Using the button below will close the popover and remove the event listener, so the popover cannot be opened again.
                    </p>
                    <Button theme="secondary" className="remove">
                        Remove
                    </Button>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on top-start">
                <Button theme="secondary" id={`popover-btn-3${index}`} data-pos="top-start">
                    Open Popover
                </Button>
                <section.component id={`popover-3${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on top">
                <Button theme="secondary" id={`popover-btn-4${index}`} data-pos="top">
                    Open Popover
                </Button>
                <section.component id={`popover-4${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on top-end">
                <Button theme="secondary" id={`popover-btn-5${index}`} data-pos="top-end">
                    Open Popover
                </Button>
                <section.component id={`popover-5${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on left-start">
                <Button theme="secondary" id={`popover-btn-6${index}`} data-pos="left-start">
                    Open Popover
                </Button>
                <section.component id={`popover-6${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on left">
                <Button theme="secondary" id={`popover-btn-7${index}`} data-pos="left">
                    Open Popover
                </Button>
                <section.component id={`popover-7${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on left-end">
                <Button theme="secondary" id={`popover-btn-8${index}`} data-pos="left-end">
                    Open Popover
                </Button>
                <section.component id={`popover-8${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on right-start">
                <Button theme="secondary" id={`popover-btn-9${index}`} data-pos="right-start">
                    Open Popover
                </Button>
                <section.component id={`popover-9${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on right">
                <Button theme="secondary" id={`popover-btn-10${index}`} data-pos="right">
                    Open Popover
                </Button>
                <section.component id={`popover-10${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on right-end">
                <Button theme="secondary" id={`popover-btn-11${index}`} data-pos="right-end">
                    Open Popover
                </Button>
                <section.component id={`popover-11${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on bottom-start">
                <Button theme="secondary" id={`popover-btn-12${index}`} data-pos="bottom-start">
                    Open Popover
                </Button>
                <section.component id={`popover-12${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on bottom">
                <Button theme="secondary" id={`popover-btn-13${index}`} data-pos="bottom">
                    Open Popover
                </Button>
                <section.component id={`popover-13${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Popover on bottom-end">
                <Button theme="secondary" id={`popover-btn-14${index}`} data-pos="bottom-end">
                    Open Popover
                </Button>
                <section.component id={`popover-14${index}`}>
                    <strong>This is a popover</strong>
                    <div class="muted">With rich content</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Transparent popover">
                <Button theme="secondary" id={`popover-btn-15${index}`} data-pos="right">
                    Open Popover
                </Button>
                <section.component id={`popover-15${index}`} transparent={true}>
                    <List
                        itemGroups={listWithGroups}
                        showSearchBar={true}
                        showSearchBarIcon={true}
                        searchBarPlaceholder="Search the app..."
                        noResultsLabel="Nothing found..."
                    />
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Close popover via instance">
                <Button theme="secondary" id={`popover-btn-16${index}`}>
                    Open Popover
                </Button>
                <section.component id={`popover-16${index}`}>
                    <p>
                        The button below calls popoverInstance.close() to close this popover.
                    </p>
                    <Button theme="secondary" className="close">
                        Close
                    </Button>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Close popover via closePopover fn">
                <Button theme="secondary" id={`popover-btn-17${index}`}>
                    Open Popover
                </Button>
                <section.component id={`popover-17${index}`}>
                    <p>
                        The button below calls the closePopover fn to close this popover.
                    </p>
                    <Button theme="secondary" className="closePopover">
                        Close
                    </Button>
                </section.component>
            </ComponentWrapper>
        </div>
    ))}
</Layout>

<script>
    import { get, on } from '@utils/DOMUtils'
    import { closePopover, popover, type PopoverPosition } from '@utils/popover'

    on(document, 'astro:page-load', () => {
        const selectors = [
            'astro',
            'svelte',
            'react'
        ]

        const ids = Array(17).fill(10).map((x, index) => x * (index + 1))
        const variants = [
            '00',
            '01',
            '02',
            ...ids,
            ...ids.map(x => x + 1),
            ...ids.map(x => x + 2)
        ]

        selectors.forEach(selector => {
            popover({
                trigger: `#popover-btn-${selector}`,
                popover: `#popover-${selector}`
            })
        })

        variants.forEach(variant => {
            const button = get(`#popover-btn-${variant}`) as HTMLButtonElement
            const removeButton = get(`#popover-${variant} .remove`) as HTMLButtonElement
            const closeButton = get(`#popover-${variant} .close`) as HTMLButtonElement
            const closePopoverButton = get(`#popover-${variant} .closePopover`) as HTMLButtonElement

            const popoverInstance = popover({
                trigger: `#popover-btn-${variant}`,
                popover: `#popover-${variant}`,
                position: button?.dataset.pos as PopoverPosition || 'bottom',
                closeOnBlur: !button?.dataset.noClose,
                closeOnEsc: !button?.dataset.noClose
            })

            on(removeButton, 'click', () => {
                popoverInstance?.remove()

                button.disabled = true
                button.classList.remove(button.classList.item(1) as string)
                button.innerText = 'Popover disabled'
            })

            on(closeButton, 'click', () => popoverInstance?.close())
            on(closePopoverButton, 'click', () => closePopover(`#popover-${variant}`))
        })
    })
</script>
