---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import AstroStepper from '@components/Stepper/Stepper.astro'
import SvelteStepper from '@components/Stepper/Stepper.svelte'
import ReactStepper from '@components/Stepper/Stepper.tsx'

import { getSections } from '@helpers'
import {
    activeStepper,
    completedStepper,
    stepper,
    stepperWithIcons,
    stepperWithSubTitle
} from '@data'

const sections = getSections({
    title: 'steppers',
    components: [AstroStepper, SvelteStepper, ReactStepper]
})
---

<Layout docs="/docs/stepper">
    <h1>Stepper</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroStepper items={stepperWithIcons} />
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteStepper items={stepperWithIcons} />
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactStepper items={stepperWithIcons} />
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Default">
                <section.component items={stepper} />
            </ComponentWrapper>

            <ComponentWrapper title="Stepper with subtitles">
                <section.component items={stepperWithSubTitle} />
            </ComponentWrapper>

            <ComponentWrapper title="Completed state">
                <section.component items={completedStepper} />
            </ComponentWrapper>

            <ComponentWrapper title="Active state">
                <section.component items={activeStepper} />
            </ComponentWrapper>

            <ComponentWrapper title="Stepper with icons">
                <section.component items={stepperWithIcons} />
            </ComponentWrapper>

            <ComponentWrapper title="Borderless stepper">
                <section.component
                    items={stepperWithIcons}
                    borderless={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Custom colors">
                <section.component
                    items={stepperWithIcons}
                    color="var(--w-color-alert)"
                    completedColor="var(--w-color-info)"
                    activeColor="var(--w-color-warning)"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Vertical stepper">
                <section.component items={stepperWithIcons} vertical={true} />
            </ComponentWrapper>
        </div>
    ))}
</Layout>
