---
import Layout from '@static/Layout.astro'

import AstroCard from '@components/Card/Card.astro'
import SvelteCard from '@components/Card/Card.svelte'
import ReactCard from '@components/Card/Card.tsx'

const sections = [
    {
        title: 'Astro cards',
        component: AstroCard
    },
    {
        title: 'Svelte cards',
        component: SvelteCard
    },
    {
        title: 'React cards',
        component: ReactCard
    }
]
---

<Layout>
    <h1>Card</h1>
    
    <div class="grid md-2 lg-3">
        <AstroCard compact={true}>
            Card component using <span class="a">Astro</span>
        </AstroCard>

        <SvelteCard compact={true}>
            Card component using <span class="s">Svelte</span>
        </SvelteCard>

        <ReactCard compact={true}>
            Card component using <span class="r">React</span>
        </ReactCard>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <div class="grid md-2 lg-3">
            <section.component title="Titled card" compact={true}>
                Card with title
            </section.component>

            <section.component title="Spacious">
                Spacious card with title
            </section.component>

            <section.component>
                Spacious card without title
            </section.component>

            <section.component title="Secondary" secondary={true}>
                Secondary card with title
            </section.component>

            <section.component secondary={true}>
                Secondary card without title
            </section.component>

            <section.component title="Bolded" titleTag="strong">
                Card with bold title using <code>strong</code> tag.
            </section.component>
        </div>
    ))}
</Layout>

<style lang="scss">
    .a {
        background: #B545ED;
        background: linear-gradient(to right, #505FFF, #B545ED);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .s {
        color: #FF3E00;
    }
    
    .r {
        color: #61DAFB;
    }
</style>
