---
import Layout from '@static/Layout.astro'

import AstroCard from '@components/Card/Card.astro'
import SvelteButton from '@components/Button/Button.svelte'
import { Button as ReactButton } from '@components/Button/Button.tsx'
---

<Layout>
    <h1>Card</h1>
    
    <div class="grid md-2 lg-3">
        <AstroCard compact={true}>
            Card component using <span class="a">Astro</span>
        </AstroCard>

        <AstroCard compact={true}>
            Card component using <span class="s">Svelte</span>
        </AstroCard>

        <AstroCard compact={true}>
            Card component using <span class="r">React</span>
        </AstroCard>

        <AstroCard title="Titled card" compact={true}>
            Card with title
        </AstroCard>

        <AstroCard title="Spacious">
            Spacious card with title
        </AstroCard>

        <AstroCard>
            Spacious card without title
        </AstroCard>

        <AstroCard title="Secondary" secondary={true}>
            Secondary card with title
        </AstroCard>

        <AstroCard secondary={true}>
            Secondary card without title
        </AstroCard>

        <AstroCard title="Bolded" titleTag="strong">
            Card with bold title using <code>strong</code> tag.
        </AstroCard>
    </div>
</Layout>

<style lang="scss">
    .a {
        background: #B545ED;
        background: linear-gradient(to right, #505FFF, #B545ED);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .s {
        color: #FF3E00;
    }
    
    .r {
        color: #61DAFB;
    }
</style>
