---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import AstroDataTable from '@components/DataTable/DataTable.astro'
import SvelteDataTable from '@components/DataTable/DataTable.svelte'
import ReactDataTable from '@components/DataTable/DataTable.tsx'

import { getSections } from '@helpers'
import {
    dataTableEntries,
    filterableHeadings,
    headings,
    toggleableHeadings
} from '@data'

const sections = getSections({
    title: 'data tables',
    components: [AstroDataTable, SvelteDataTable, ReactDataTable],
    showSubTitle: true
})
---

<Layout>
    <h1>DataTable</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroDataTable
                headings={headings}
                data={dataTableEntries}
                filterPlaceholder="Search users"
                showFilterIcon={true}
                noResultsLabel="We found no users..."
                columnToggleLabel="Hide Columns"
                subText={`${dataTableEntries.length} total entries`}
                itemsPerPage={5}
                pagination={{
                    showChevrons: true
                }}
            />
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteDataTable
                client:idle
                headings={headings}
                data={dataTableEntries}
                filterPlaceholder="Search users"
                showFilterIcon={true}
                noResultsLabel="We found no users..."
                columnToggleLabel="Hide Columns"
                subText={`${dataTableEntries.length} total entries`}
                itemsPerPage={5}
                pagination={{
                    showChevrons: true
                }}
            />
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactDataTable
                client:idle
                headings={headings}
                data={dataTableEntries}
                filterPlaceholder="Search users"
                showFilterIcon={true}
                noResultsLabel="We found no users..."
                columnToggleLabel="Hide Columns"
                subText={`${dataTableEntries.length} total entries`}
                itemsPerPage={5}
                id="react-dt"
                pagination={{
                    showChevrons: true
                }}
            />
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Default">
                <section.component data={dataTableEntries} />
            </ComponentWrapper>

            <ComponentWrapper title="With heading">
                <section.component headings={['ID', 'Score', 'Status']} data={dataTableEntries} />
            </ComponentWrapper>

            <ComponentWrapper title="Highlight on hover">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Striped rows">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Striped rows with offset">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    offsetStripe={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Striped columns">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="column"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Striped columns with offset">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="column"
                    offsetStripe={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Compact table">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    compact={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Fixed height table">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    maxHeight="250px"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Paginated table">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Paginated table with custom pagination">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    pagination={{
                        showChevrons: true,
                        pages: [
                            { label: 1, active: true },
                            { label: 2 },
                            { label: 3 }
                        ]
                    }}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Paginated table with subText">
                <section.component
                    headings={['ID', 'Score', 'Status']}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    subText={`${dataTableEntries.length} total entries`}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Toggleable columns">
                <section.component
                    headings={toggleableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Custom toggle label">
                <section.component
                    headings={toggleableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    columnToggleLabel="Toggle Columns"
                />
            </ComponentWrapper>

            <ComponentWrapper title="Filterable table">
                <section.component
                    headings={filterableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Filter placeholder">
                <section.component
                    headings={filterableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    filterPlaceholder="Search users..."
                />
            </ComponentWrapper>

            <ComponentWrapper title="Filter with icon">
                <section.component
                    headings={filterableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    filterPlaceholder="Search users..."
                    showFilterIcon={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Custom 'No results.' label">
                <section.component
                    headings={filterableHeadings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    filterPlaceholder="Search users..."
                    noResultsLabel="We found no users. Expand your search query."
                    showFilterIcon={true}
                />
            </ComponentWrapper>

            <ComponentWrapper title="Sortable column">
                <section.component
                    headings={headings}
                    data={dataTableEntries}
                    hover={true}
                    striped="row"
                    itemsPerPage={5}
                    filterPlaceholder="Search users..."
                    noResultsLabel="We found no users. Expand your search query."
                    showFilterIcon={true}
                />
            </ComponentWrapper>
        </div>
    ))}
</Layout>

<script>
    import { listen } from '@utils/event'

    listen('dataTableFilter', event => {
        // eslint-disable-next-line no-console
        console.log(event)
    })
</script>

