---
import Box from '@static/Box.astro'
import CardWrapper from '@static/CardWrapper.astro'
// import Examples from '@static/Examples.astro'
import Layout from '@static/Layout.astro'

import Accordion from '@components/Accordion/Accordion.astro'
import Alert from '@components/Alert/Alert.astro'
import AspectRatio from '@components/AspectRatio/AspectRatio.astro'
import Avatar from '@components/Avatar/Avatar.astro'
import Badge from '@components/Badge/Badge.astro'
import Banner from '@components/Banner/Banner.astro'
import Breadcrumb from '@components/Breadcrumb/Breadcrumb.astro'
import Button from '@components/Button/Button.astro'
import Carousel from '@components/Carousel/Carousel.astro'
import Checkbox from '@components/Checkbox/Checkbox.astro'
import Collapsible from '@components/Collapsible/Collapsible.astro'
import DataTable from '@components/DataTable/DataTable.astro'
import Footer from '@components/Footer/Footer.astro'
import Group from '@components/Group/Group.astro'
import Icon from '@components/Icon/Icon.astro'
import Input from '@components/Input/Input.astro'
import Kbd from '@components/Kbd/Kbd.astro'
import List from '@components/List/List.astro'
import Masonry from '@components/Masonry/Masonry.astro'
import Menu from '@components/Menu/Menu.astro'
import Pagination from '@components/Pagination/Pagination.astro'
import Progress from '@components/Progress/Progress.astro'
import Radio from '@components/Radio/Radio.astro'
import Rating from '@components/Rating/Rating.astro'
import Ribbon from '@components/Ribbon/Ribbon.astro'
import Select from '@components/Select/Select.astro'
import Skeleton from '@components/Skeleton/Skeleton.astro'
import Slider from '@components/Slider/Slider.astro'
import Spinner from '@components/Spinner/Spinner.astro'
import Spoiler from '@components/Spoiler/Spoiler.astro'
import Stepper from '@components/Stepper/Stepper.astro'
import Switch from '@components/Switch/Switch.astro'
import Table from '@components/Table/Table.astro'
import Tabs from '@components/Tabs/Tabs.astro'
import Textarea from '@components/Textarea/Textarea.astro'
import ThemeSwitcher from '@components/ThemeSwitcher/ThemeSwitcher.astro'
import Timeline from '@components/Timeline/Timeline.astro'
import TimelineItem from '@components/TimelineItem/TimelineItem.astro'

import logo from '../../public/img/logo.svg?raw'
import gitHubIcon from '../icons/github.svg?raw'
import infoIcon from '../icons/info.svg?raw'

import {
    accordionItems,
    avatarGroup,
    avatarGroupAlt2,
    listPreview,
    masonryItems,
    stepperWithIcons,
    themes
} from '@data'

const tabItems = [{
    label: `${infoIcon} Intro`,
    value: 'intro',
    active: true
}, {
    label: `${gitHubIcon} Setup`,
    value: 'setup'
}]
---

<Layout>
    <h1>
        Component library for <br />
        <span class="a">Astro</span>,
        <span class="s">Svelte</span>, and
        <span class="r">React</span>
    </h1>
    <h2>
        Rocket launch your frontend projects with fully coded components. <br />
        Configurable. Themeable. Accessible.
    </h2>
    <div class="cta">
        <Button
            href="https://github.com/Frontendland/webcoreui" target="_blank"
        >
            <Icon type="github" size={20} />
            GitHub
        </Button>
        <Button theme="secondary" className="scroll-to-components">
            <Icon type="components" size={20} />
            Components
        </Button>
        <Button theme="secondary" href="/blocks">
            <Icon type="file" size={20} />
            Blocks
        </Button>
    </div>

    <ThemeSwitcher themes={themes} className="switcher" />
    <!-- <Examples /> -->

    <h2 class="my components-heading">Components</h2>
    <div class="grid md-2 lg-3">
        <CardWrapper title="Accordion" href="/components/accordion">
            <Accordion items={accordionItems} />
        </CardWrapper>
        <CardWrapper title="Alert" href="/components/alert">
            <Alert title="💡 Note">You can create alert boxes.</Alert>
        </CardWrapper>
        <CardWrapper title="Aspect Ratio" href="/components/aspect-ratio">
            <AspectRatio ratio="16/9" className="absolute">
                <Box>16 / 9</Box>
            </AspectRatio>
        </CardWrapper>
        <CardWrapper title="Avatar" href="/components/avatar">
            <Avatar
                size={[30, 40, 50, 40, 30]}
                img={avatarGroup}
                alt={avatarGroupAlt2}
            />
        </CardWrapper>
        <CardWrapper title="Badge" href="/components/badge">
            <Badge theme="outline">Badge</Badge>
        </CardWrapper>
        <CardWrapper title="Banner" href="/components/banner">
            <Banner closeable={true} className="banner-example">
                New version available!
            </Banner>
        </CardWrapper>
        <CardWrapper title="Breadcrumb" href="/components/breadcrumb">
            <Breadcrumb items={[
                { icon: 'home' },
                { label: 'Docs' },
                { label: 'Components' }
            ]} />
        </CardWrapper>
        <CardWrapper title="Button" href="/components/button">
            <Button>Primary</Button>
            <Button theme="secondary">Secondary</Button>
        </CardWrapper>
        <CardWrapper title="Card" href="/components/card">
            <p>Paragraph inside a card</p>
        </CardWrapper>
        <CardWrapper title="Carousel" href="/components/carousel">
            <Carousel
                items={3}
                pagination={{ type: 'dots' }}
                className="carousel-example absolute"
            >
                <li><Box fullWidth={true}>1</Box></li>
            </Carousel>
        </CardWrapper>
        <CardWrapper title="Checkbox" href="/components/checkbox">
            <Checkbox checked={true} label="Accept terms and conditions" />
        </CardWrapper>
        <CardWrapper title="Collapsible" href="/components/collapsible">
            <Collapsible initialHeight="20px">
                <span>This book has been rated for...</span>
                <Badge slot="on">Expand</Badge>
            </Collapsible>
        </CardWrapper>
        <CardWrapper title="DataTable" href="/components/data-table">
            <DataTable
                headings={[
                    { name: 'ID', filterable: true, toggleable: true },
                    'Name'
                ]}
                data={[['1', 'John Doe']]}
                className="data-table absolute"
            />
        </CardWrapper>
        <CardWrapper title="Footer" href="/components/footer">
            <Footer columns={[{ title: 'WEBCORE', items: [] }]} />
        </CardWrapper>
        <CardWrapper title="Group" href="/components/group">
            <Group withSeparator={true}>
                <Button theme="secondary">Profile</Button>
                <Button theme="secondary">Repos</Button>
                <Button theme="secondary">Stars</Button>
            </Group>
        </CardWrapper>
        <CardWrapper title="Icon" href="/components/icon">
            <Icon
                type="github"
                size={12}
                color="#32e3a0"
            />
            <Icon
                type="github"
                size={16}
                color="#32cae3"
            />
            <Icon
                type="github"
                size={20}
                color="#ad74f7"
            />
            <Icon
                type="github"
                size={24}
                color="#ff89aa"
            />
            <Icon
                type="github"
                size={30}
                color="#f2c262"
            />
        </CardWrapper>
        <CardWrapper title="Input" href="/components/input">
            <Input placeholder="Please enter your email." />
        </CardWrapper>
        <CardWrapper title="Kbd" href="/components/kbd">
            <Kbd keys={['cmd', 'shift']}>K</Kbd>
        </CardWrapper>
        <CardWrapper title="List" href="/components/list">
            <List
                itemGroups={listPreview}
                showSearchBar={true}
                showSearchBarIcon={true}
                searchBarPlaceholder="Search items..."
            />
        </CardWrapper>
        <CardWrapper title="Masonry" href="/components/masonry">
            <Masonry items={masonryItems} className="masonry absolute" />
        </CardWrapper>
        <CardWrapper title="Menu" href="/components/menu">
            <Menu className="menu-example">
                <Fragment set:html={logo} />
            </Menu>
        </CardWrapper>
        <CardWrapper title="Modal" href="/components/modal">
            <Button theme="outline">Trigger Modal</Button>
        </CardWrapper>
        <CardWrapper title="Pagination" href="/components/pagination">
            <Pagination showChevrons={true} />
        </CardWrapper>
        <CardWrapper title="Popover" href="/components/popover">
            <Button theme="outline">Open Popover</Button>
        </CardWrapper>
        <CardWrapper title="Progress" href="/components/progress">
            <Progress value={33} />
        </CardWrapper>
        <CardWrapper title="Radio" href="/components/radio">
            <Radio
                items={[{ label: 'Radio', selected: true, value: '1' }]}
                name="radio"
            />
        </CardWrapper>
        <CardWrapper title="Rating" href="/components/rating">
            <Rating score={4} />
        </CardWrapper>
        <CardWrapper title="Ribbon" href="/components/ribbon">
            <Ribbon>Ribbon</Ribbon>
        </CardWrapper>
        <CardWrapper title="Select" href="/components/select">
            <Select
                name="select-preview"
                placeholder="Search the documentation"
                itemGroups={[]}
            />
        </CardWrapper>
        <CardWrapper title="Sheet" href="/components/sheet">
            <Button theme="outline">Open Sheet</Button>
        </CardWrapper>
        <CardWrapper title="Sidebar" href="/components/sidebar">
            <div class="flex sm">
                <Icon type="components" size={18} />
                Component
                <Badge theme="success" small={true}>new components</Badge>
            </div>
        </CardWrapper>
        <CardWrapper title="Skeleton" href="/components/skeleton">
            <Skeleton height={15} />
        </CardWrapper>
        <CardWrapper title="Slider" href="/components/slider">
            <Slider min={0} max={100} value={50} />
        </CardWrapper>
        <CardWrapper title="Spinner" href="/components/spinner">
            <Spinner />
        </CardWrapper>
        <CardWrapper title="Spoiler" href="/components/spoiler">
            <Spoiler>This text is hidden.</Spoiler>
        </CardWrapper>
        <CardWrapper title="Stepper" href="/components/stepper">
            <Stepper items={[stepperWithIcons[0], stepperWithIcons[1]]} />
        </CardWrapper>
        <CardWrapper title="Switch" href="/components/switch">
            <Switch toggled={true} />
        </CardWrapper>
        <CardWrapper title="Table" href="/components/table">
            <Table
                headings={['ID', 'Name']}
                data={[['1', 'John Doe']]}
            />
        </CardWrapper>
        <CardWrapper title="Tabs" href="/components/tabs">
            <Tabs items={tabItems} theme="boxed" />
        </CardWrapper>
        <CardWrapper title="Textarea" href="/components/textarea">
            <Textarea placeholder="Get in touch with us" />
        </CardWrapper>
        <CardWrapper title="ThemeSwitcher" href="/components/theme-switcher">
            <ThemeSwitcher themes={themes} />
        </CardWrapper>
        <CardWrapper title="Timeline" href="/components/timeline">
            <Timeline>
                <TimelineItem>Getting Started</TimelineItem>
                <TimelineItem>Setup</TimelineItem>
            </Timeline>
        </CardWrapper>
        <CardWrapper title="Toast" href="/components/toast">
            <Alert theme="success">Post saved</Alert>
        </CardWrapper>
        <CardWrapper title="Tooltip" href="/components/tooltip">
            <p>Tooltip<sup>?</sup></p>
        </CardWrapper>
    </div>
</Layout>

<style is:global lang="scss">
    @use '../scss/config.scss' as *;

    h2.my {
       margin-top: 100px;
    }

    .a {
        background: #B545ED;
        background: linear-gradient(to right, #505FFF, #B545ED);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .s {
        color: #FF3E00;
    }

    .r {
        color: #61DAFB;
    }

    .theme-light .r {
        color: #00a0cc;
    }

    .cta {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .components-heading {
        scroll-margin-top: 60px;
    }

    .card-wrapper > div {
        @include layout(flex, center, sm);
        @include visibility(hidden);

        pointer-events: none;
    }

    .absolute {
        @include position(absolute);
    }

    .banner-example {
        padding-right: 40px !important;
    }

    .carousel-example {
        @include spacing(p-sm);
        @include size('w100%');
    }

    .menu-example {
        z-index: 0;
    }

    .switcher {
        margin: 20px 0;
        justify-content: center;
    }

    .masonry {
        transform: scale(0.8);
    }

    .data-table {
        @include spacing(p-default);
    }
</style>

<script>
    import { get, on } from '@utils/DOMUtils'

    on('.scroll-to-components', 'click', () => {
        (get('.components-heading') as HTMLDivElement).scrollIntoView({
            behavior: 'smooth'
        })
    })
</script>
