---
import CardWrapper from '@static/CardWrapper.astro'
import Examples from '@static/Examples.astro'
import Layout from '@static/Layout.astro'

import Accordion from '@components/Accordion/Accordion.astro'
import Alert from '@components/Alert/Alert.astro'
import Avatar from '@components/Avatar/Avatar.astro'
import Badge from '@components/Badge/Badge.astro'
import Button from '@components/Button/Button.astro'
import Checkbox from '@components/Checkbox/Checkbox.astro'
import Collapsible from '@components/Collapsible/Collapsible.astro'
import Icon from '@components/Icon/Icon.astro'
import Input from '@components/Input/Input.astro'
import List from '@components/List/List.astro'
import Menu from '@components/Menu/Menu.astro'
import Progress from '@components/Progress/Progress.astro'
import Radio from '@components/Radio/Radio.astro'
import Rating from '@components/Rating/Rating.astro'
import Select from '@components/Select/Select.astro'
import Slider from '@components/Slider/Slider.astro'
import Spinner from '@components/Spinner/Spinner.astro'
import Switch from '@components/Switch/Switch.astro'
import Table from '@components/Table/Table.astro'
import Tabs from '@components/Tabs/Tabs.astro'
import Textarea from '@components/Textarea/Textarea.astro'
import ThemeSwitcher from '@components/ThemeSwitcher/ThemeSwitcher.astro'
import Timeline from '@components/Timeline/Timeline.astro'
import TimelineItem from '@components/TimelineItem/TimelineItem.astro'

import logo from '../../public/img/logo.svg?raw'
import gitHubIcon from '../icons/github.svg?raw'
import infoIcon from '../icons/info.svg?raw'

import {
    accordionItems,
    avatarGroup,
    avatarGroupAlt2,
    listPreview,
    themes
} from '@data'

const tabItems = [{
    label: `${infoIcon} Intro`,
    value: 'intro',
    active: true
}, {
    label: `${gitHubIcon} Setup`,
    value: 'setup'
}]
---

<Layout>
    <h1>
        Component library for <br />
        <span class="a">Astro</span>,
        <span class="s">Svelte</span>, and
        <span class="r">React</span>
    </h1>
    <h2>
        Rocket launch your frontend projects with fully coded components. <br />
        Configurable. Themeable. Accessible.
    </h2>
    <div class="cta">
        <Button
            href="https://github.com/Frontendland/webcoreui" target="_blank"
        >
            <Icon type="github" size={20} />
            GitHub
        </Button>
        <Button theme="secondary" href="/svelte">
            Svelte Playground
        </Button>
        <Button theme="secondary" href="/react">
            React Playground
        </Button>
    </div>

    <ThemeSwitcher themes={themes} className="switcher" />
    <Examples />

    <h2 class="my">Components</h2>
    <div class="grid md-2 lg-3">
        <CardWrapper title="Accordion" href="/accordion">
            <Accordion items={accordionItems} />
        </CardWrapper>
        <CardWrapper title="Alert" href="/alert">
            <Alert title="💡 Note">You can create alert boxes.</Alert>
        </CardWrapper>
        <CardWrapper title="Avatar" href="/avatar">
            <Avatar
                size={[30, 40, 50, 40, 30]}
                img={avatarGroup}
                alt={avatarGroupAlt2}
            />
        </CardWrapper>
        <CardWrapper title="Badge" href="/badge">
            <Badge theme="outline">Badge</Badge>
        </CardWrapper>
        <CardWrapper title="Button" href="/button">
            <Button>Primary</Button>
            <Button theme="secondary">Secondary</Button>
        </CardWrapper>
        <CardWrapper title="Card" href="/card">
            <p>Paragraph inside a card</p>
        </CardWrapper>
        <CardWrapper title="Checkbox" href="/checkbox">
            <Checkbox checked={true} label="Accept terms and conditions" />
        </CardWrapper>
        <CardWrapper title="Collapsible" href="/collapsible">
            <Collapsible initialHeight="20px">
                <span>This book has been rated for...</span>
                <Badge slot="on">Expand</Badge>
            </Collapsible>
        </CardWrapper>
        <CardWrapper title="Icon" href="/icon">
            <Icon
                type="github"
                size={12}
                color="#32e3a0"
            />
            <Icon
                type="github"
                size={16}
                color="#32cae3"
            />
            <Icon
                type="github"
                size={20}
                color="#ad74f7"
            />
            <Icon
                type="github"
                size={24}
                color="#ff89aa"
            />
            <Icon
                type="github"
                size={30}
                color="#f2c262"
            />
        </CardWrapper>
        <CardWrapper title="Input" href="/input">
            <Input placeholder="Please enter your email." />
        </CardWrapper>
        <CardWrapper title="List" href="/list">
            <List
                itemGroups={listPreview}
                showSearchBar={true}
                showSearchBarIcon={true}
                searchBarPlaceholder="Search items..."
            />
        </CardWrapper>
        <CardWrapper title="Menu" href="/menu">
            <Menu className="menu-example">
                <Fragment set:html={logo} />
            </Menu>
        </CardWrapper>
        <CardWrapper title="Modal" href="/modal">
            <Button theme="outline">Trigger Modal</Button>
        </CardWrapper>
        <CardWrapper title="Popover" href="/popover">
            <Button theme="outline">Open Popover</Button>
        </CardWrapper>
        <CardWrapper title="Progress" href="/progress">
            <Progress value={33} />
        </CardWrapper>
        <CardWrapper title="Radio" href="/radio">
            <Radio
                items={[{ label: 'Radio', selected: true, value: '1' }]}
                name="radio"
            />
        </CardWrapper>
        <CardWrapper title="Rating" href="/rating">
            <Rating score={4} />
        </CardWrapper>
        <CardWrapper title="Select" href="/select">
            <Select
                name="select-preview"
                placeholder="Search the documentation"
                itemGroups={[]}
            />
        </CardWrapper>
        <CardWrapper title="Sheet" href="/sheet">
            <Button theme="outline">Open Sheet</Button>
        </CardWrapper>
        <CardWrapper title="Slider" href="/slider">
            <Slider min={0} max={100} value={50} />
        </CardWrapper>
        <CardWrapper title="Spinner" href="/spinner">
            <Spinner />
        </CardWrapper>
        <CardWrapper title="Switch" href="/switch">
            <Switch toggled={true} />
        </CardWrapper>
        <CardWrapper title="Table" href="/table">
            <Table
                headings={['ID', 'Name']}
                data={[['1', 'John Doe']]}
            />
        </CardWrapper>
        <CardWrapper title="Tabs" href="/tabs">
            <Tabs items={tabItems} theme="boxed" />
        </CardWrapper>
        <CardWrapper title="Textarea" href="/textarea">
            <Textarea placeholder="Get in touch with us" />
        </CardWrapper>
        <CardWrapper title="ThemeSwitcher" href="/theme-switcher">
            <ThemeSwitcher themes={themes} />
        </CardWrapper>
        <CardWrapper title="Timeline" href="/timeline">
            <Timeline>
                <TimelineItem>Getting Started</TimelineItem>
                <TimelineItem>Setup</TimelineItem>
            </Timeline>
        </CardWrapper>
        <CardWrapper title="Toast" href="/toast">
            <Alert theme="success">Post saved</Alert>
        </CardWrapper>
        <CardWrapper title="Tooltip" href="/tooltip">
            <p>Tooltip<sup>?</sup></p>
        </CardWrapper>
    </div>
</Layout>

<style is:global lang="scss">
    h2.my {
       margin-top: 100px;
    }

    .a {
        background: #B545ED;
        background: linear-gradient(to right, #505FFF, #B545ED);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .s {
        color: #FF3E00;
    }

    .r {
        color: #61DAFB;
    }

    .theme-light .r {
        color: #00a0cc;
    }

    .cta {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .card-wrapper > div {
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .menu-example {
        z-index: 0;
    }

    .switcher {
        margin: 20px 0;
        justify-content: center;
    }
</style>
