---
import Layout from '@static/Layout.astro'
import ComponentWrapper from '@static/ComponentWrapper.astro'

import AstroTabs from '@components/Tabs/Tabs.astro'
import SvelteTabs from '@components/Tabs/Tabs.svelte'
import ReactTabs from '@components/Tabs/Tabs.tsx'

import infoIcon from '../icons/info.svg?raw'
import gitHubIcon from '../icons/github.svg?raw'
import successIcon from '../icons/circle-check.svg?raw'

import {
    tabItems,
    tabsWithIcons,
    inactiveTabs,
    disabledTabs,
    overflowTabs
} from '@data'

const sections = [
    {
        title: 'Astro tabs',
        component: AstroTabs
    },
    {
        title: 'Svelte tabs',
        subTitle: 'For interactive examples, visit <a href="/svelte">Svelte Playground</a>',
        component: SvelteTabs
    },
    {
        title: 'React tabs',
        subTitle: 'For interactive examples, visit <a href="/react">React Playground</a>',
        component: ReactTabs
    }
]
---

<Layout>
    <h1>Tabs</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroTabs items={tabItems}>
                <div data-tab="intro" data-active="true">Intro tab</div>
                <div data-tab="setup">Setup tab</div>
                <div data-tab="conclusion">Conclusion tab</div>
            </AstroTabs>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteTabs items={tabItems} client:visible>
                <div data-tab="intro" data-active="true">Intro tab</div>
                <div data-tab="setup">Setup tab</div>
                <div data-tab="conclusion">Conclusion tab</div>
            </SvelteTabs>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactTabs items={tabItems} client:visible>
                <div data-tab="intro" data-active="true">Intro tab</div>
                <div data-tab="setup">Setup tab</div>
                <div data-tab="conclusion">Conclusion tab</div>
            </ReactTabs>
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <Fragment>
            {section.subTitle && <h2 set:html={section.subTitle} />}
        </Fragment>
        <div class="grid md-2">
            <ComponentWrapper title="Default">
                <section.component items={tabItems}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Inactive tabs">
                <section.component items={inactiveTabs}>
                    <div data-tab="intro">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Disabled tab">
                <section.component items={disabledTabs}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Tabs with icons">
                <section.component items={tabsWithIcons}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Boxed tabs">
                <section.component items={tabItems} theme="boxed">
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Boxed evenly with icons">
                <section.component items={tabsWithIcons} theme="boxed" even={true}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Outline tabs">
                <section.component items={tabItems} theme="outline">
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Outline evenly with icons">
                <section.component items={tabsWithIcons} theme="outline" even={true}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Vertical tabs">
                <section.component items={tabItems} vertical={true}>
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Vertical boxed with icons">
                <section.component items={tabsWithIcons} vertical={true} theme="boxed">
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Vertical outline with icons">
                <section.component items={tabsWithIcons} vertical={true} theme="outline">
                    <div data-tab="intro" data-active="true">Intro tab</div>
                    <div data-tab="setup">Setup tab</div>
                    <div data-tab="conclusion">Conclusion tab</div>
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Overflown tabs">
                <section.component items={overflowTabs} />
            </ComponentWrapper>
        </div>
    ))}
</Layout>
