---
import Layout from '@static/Layout.astro'
import Examples from '@static/Examples.astro'
import ThemeSwitcher from '@components/ThemeSwitcher/ThemeSwitcher.astro'
import Button from '@components/Button/Button.astro'
import Toast from '@components/Toast/Toast.astro'
import Slider from '@components/Slider/Slider.astro'

import { themes } from '@data'
---

<Layout>
    <h1>Themes</h1>

    <ThemeSwitcher themes={themes} className="justify-center" />

    <div class="flex sm justify-center my column">
        <label class="flex column none">
            <div class="muted">Radius</div>
            <Slider
                min={0}
                max={100}
                value={50}
                step={10}
                id="radius"
            />
        </label>
        <Button id="copy">Copy Setup</Button>
    </div>

    <Examples />

    <Toast theme="success" id="toast">
        Copied setup to clipboard
    </Toast>
</Layout>

<script>
    import { toast } from '@utils/toast'
    import { interpolate } from '@utils/interpolate'

    const input = document.querySelector('#radius') as HTMLElement
    const copy = document.querySelector('#copy') as HTMLElement

    input.addEventListener('change', (e: any) => {
        const value = Number(e.target.value)

        const sm = interpolate(value, [0, 100], [0, 8])
        const md = interpolate(value, [0, 100], [0, 20])
        const lg = interpolate(value, [0, 100], [0, 40])
        const xl = interpolate(value, [0, 100], [0, 60])

        document.body.style.setProperty('--w-sm-radius', `${sm}px`)
        document.body.style.setProperty('--w-md-radius', `${md}px`)
        document.body.style.setProperty('--w-lg-radius', `${lg}px`)
        document.body.style.setProperty('--w-xl-radius', `${xl}px`)
    })

    copy.addEventListener('click', () => {
        const bodyStyles = document.body.style
        
        const sm = bodyStyles.getPropertyValue('--w-sm-radius') || '2px'
        const md = bodyStyles.getPropertyValue('--w-md-radius') || '5px'
        const lg = bodyStyles.getPropertyValue('--w-lg-radius') || '10px'
        const xl = bodyStyles.getPropertyValue('--w-xl-radius') || '15px'

        const code = `
            @import 'webcoreui/styles';
            @include setup((
                theme: '${document.body.className}'
            ));

            html body {
                --w-sm-radius: ${sm};
                --w-md-radius: ${md};
                --w-lg-radius: ${lg};
                --w-xl-radius: ${xl};
            }
        `.trim().replace(new RegExp('^[ \\t]{12}', 'gm'), '')

        navigator.clipboard.writeText(code)

        toast('#toast')
    })
</script>

<style lang="scss">
    @import '../scss/config.scss';

    .muted {
        @include spacing(mb-xs);
    }

    .flex {
        max-width: fit-content;
    }
</style>
