---
import type { BottomNavigationProps } from './bottomnavigation'

import Icon from '../Icon/Icon.astro'

import styles from './bottomnavigation.module.scss'

interface Props extends BottomNavigationProps {}

const {
    items,
    separated,
    floating,
    maxWidth,
    className
} = Astro.props

const classes = [
    styles.nav,
    separated && styles.separated,
    maxWidth && styles.bordered,
    floating && styles.floating,
    className
]

const styleVariable = maxWidth
    ? `--w-bottom-navigation-max-width: ${maxWidth};`
    : null
---

<nav class:list={classes} style={styleVariable}>
    <ul>
        {items?.map(item => ({ ...item, element: item.href ? 'a' : 'div' })).map(item => (
            <li data-tooltip={item.tooltip} class:list={[item.icon && styles['with-icon']]}>
                <item.element {...{ href: item.href, target: item.target, class: styles.item }}>
                    {item.icon && (
                        <Fragment>
                            {item.icon?.startsWith('<svg')
                                ? <Fragment set:html={item.icon} />
                                : <Icon type={item.icon} />
                            }
                        </Fragment>
                    )}
                    {item.name}
                </item.element>
            </li>
        ))}
    </ul>
</nav>
