---
import type { TableProps } from './table'
import styles from './table.module.scss'

interface Props extends TableProps {}

const {
    headings,
    footer,
    data,
    hover,
    striped,
    offsetStripe,
    compact,
    className
} = Astro.props

const classes = [
    styles.table,
    hover && styles.hover,
    striped && styles[`striped-${striped}s`],
    offsetStripe && styles.offset,
    compact && styles.compact,
    className
]
---

<div class:list={classes}>
    <table>
        {headings?.length && (
            <thead>
                <tr>
                    {headings.map(heading => (
                        <th>{heading}</th>
                    ))}
                </tr>
            </thead>
        )}
        <tbody>
            {data.map(row => (
                <tr>
                    {row.map(column => (
                        <td>
                            <Fragment set:html={column} />
                        </td>
                    ))}
                </tr>
            ))}
        </tbody>
        {footer?.length && (
            <tfoot>
                <tr>
                    {footer.map(data => (
                        <td>{data}</td>
                    ))}
                </tr>
            </tfoot>
        )}
    </table>
</div>
