---
import Menu from '@components/Menu/Menu.astro'
import logo from '../../public/img/logo.svg?raw'

const { nonStickyMenu } = Astro.props

const menuClasses = [
    'menu',
    nonStickyMenu && 'fixed'
].filter(Boolean).join(' ')

const theme = (Astro.cookies.get('w-theme')?.value || 'theme-dark') as string

const menu = {
    logo: {
        html: logo
    },
    items: [
        { url: '/resets', name: 'Resets' },
        { url: '/svelte', name: 'Svelte' },
        { url: '/react', name: 'React' }
    ]
}

const externalLinks = [
    {
        url: 'https://github.com/Frontendland/webcoreui',
        name: 'github'
    },
    {
        url: 'https://www.npmjs.com/package/webcoreui',
        name: 'npm'
    },
    {
        url: 'https://webcoreui.dev',
        name: 'docs'
    },
]
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Webcore</title>
    </head>
    <body class={theme}>
        <Menu
            logo={menu.logo}
            items={menu.items}
            className={menuClasses}
        >
            <div class="items">
                {externalLinks.map(link => (
                    <a href={link.url} target="_blank">
                        {link.name}
                    </a>
                ))}
            </div>
        </Menu>
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style is:global lang="scss">
    @import '../scss/index.scss';
    @import '../scss/config.scss';

    @include setup((
        fontRegular: '/fonts/Inter-Regular.woff2',
        fontBold: '/fonts/Inter-Bold.woff2',
        themes: (
            dark: '.theme-dark',
            light: '.theme-light',
            midnight: '.theme-blue',
            green: '.theme-green',
            beige: '.theme-beige'
        )
    ));

    body {
        margin-bottom: 100px;
    }

    h1 {
        margin: 100px 0 10px;
        font-size: 48px;
        text-align: center;
    }

    h2 {
        color: var(--w-color-primary-10);
        font-family: Regular;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        font-size: 24px;
        margin: 0 0 20px;

        a {
            text-decoration: underline;
        }
    }

    .menu {
        &.fixed {
            position: relative;
        }

        .items {
            @include layout(flex, sm);

            a {
                @include typography(primary-20);

                &:hover {
                    @include typography(primary);
                }
            }
        }
    }

    .container {
        margin-top: 20px;
    }
</style>
